/* navigation */
#navbar{
    flex-direction: column;
}

#navbar::before{
    height: 114%;
}



/* home */

#home{
    height: 580px;
}
#home h1{
    font-size: 37px;
}
#home p{
    font-size: 17px;
}



/* services section  */
/* #service-container{
    height: 1085px;
} */

#services{
    margin-bottom: 484px;
    flex-direction: column;
    padding-bottom: 131px;
}

#services .box{
    height: 500px;
}




/* clients-section */
#clients{
    overflow: hidden;
}



/* contact section  */
#contact{
    margin-bottom: 2px;
}
